html, body {
    margin: 0;
    padding: 0;

    background-color: #808080;

    overflow: hidden;
}

canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    width: 500px;
    height: 500px;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    border: 1px solid red;

    background: black;
}